<!doctype html>
<html>
    <head>
        <title>Build a Blog</title>
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
<body>

    <div>
        <a href="/new_post">Add A Blog Entry</a>
        <a href="/home">Main Page</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
        {% for category,message in messages%}
            <li class='{{category}}'>{{message}}</li>
        {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>