{% extends "base.html" %}

{% block content %}

<h2>Create New Blog post</h2>

<form action="/home.html" method="GET">
    <table>
        <tr>
            <label for="title">Title of your Blog
                <td>
                    <input type="text" name="title" />
                </td>
                <td>
                    <br>
                    <textarea name="body"></textarea>
                </td>
                <td>
                    <br>
                    <input type="submit" value='Post your Blog!'>
                </td>

            </label>
        </tr>

    </table>

</form>



{% endblock %}